$primary-color: #4be4c9;
$primary-dark: #0b9567;
$color-dark: #10b981;
$primary-light: #d1fae5;
$secondary-color: #f59e0b;
$color-grey: #888b97;
$color-danger: #ef4444;
$color-danger-light: #ffe2e2;
$info-color: #1e4ed8;
$info-color-light: #dbeafe;
$text-color: #1b1c57;
$color-white: #fff;
$text-muted: #626687;
$font-family: "Lexend", sans-serif;
